OPENAI_API_KEY="your_openai_api_key"
QDRANT_API_KEY="your_qdrant_api_key"
QDRANT_URL="your_qdrant_cluster_url"
EXA_API_KEY="your_exa_api_key"
AGENTOPS_API_KEY="your_agentops_api_key"
QDRANT_COLLECTION_NAME="rag_with_web_search"
